<!-- product item -->
<div class="product-item-wrapper" [ngClass]="{'grid':layoutType=='grid'}">
  <div class="card">
    <div class="card-header bg-light">
      <b>{{product.data.title}}</b>
      <div class="card-tools">
        <button class="btn btn-danger btn-sm" (click)="delProduct(product.id)"><i class="fa fa-trash"></i></button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-auto product-property-label">Id</div>
        <div class="col-sm-auto product-property-value">{{product.id}}</div>
      </div>
      <div class="row">
        <div class="col-sm-auto product-property-label">employee</div>
        <div class="col-sm-auto product-property-value">{{product.data.employee}}</div>
      </div>
      <div class="row">
        <div class="col-sm-auto product-property-label">category</div>
        <div class="col-sm-auto product-property-value">{{product.data.category}}</div>
      </div>
      <div class="row">
        <div class="col-sm-auto product-property-label">description</div>
        <div class="col-sm-auto product-property-value">{{product.data.description}}</div>
      </div>
      <div class="row">
        <div class="col-sm-auto product-property-label">price</div>
        <div class="col-sm-auto product-property-value">{{product.data.price}}</div>
      </div>
      <app-product-reviews *ngIf="product.data.reviews"></app-product-reviews>
    </div>
  </div>
</div>
<!-- product-item -->
