
<!-- <div class="product-reviews">
  <div class="reviews-button d-flex justify-content-center">
    <button
    class="btn btn-primary btn-sm"
    type="button"
    (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample">
      <i class="fas fa-comment-dots"></i> Reviews</button>
  </div>
  <div>
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
</div> -->
